		.h5 {
		  font-size: 2.6em !important;
		}
		.h8 {
		  font-size: 1.3em !important;
		}
              @media (min-width: 1170px) {
                  .cont, .cont-pd {
                      max-width: 1170px!important;
                      padding-left: 30px!important;
                      padding-right: 30px!important;
                  }
              }
              @media (min-width: 992px) {
                  .cont, .cont-pd {
                      max-width: 1200px!important;
                      padding-left: 30px!important;
                      padding-right: 30px!important;
                  }
              }
              .cont-pd, cont-pd {
                  max-width: 1200px;
                  min-width: 320px;
                  display: block;
                  position: relative;
                  margin: auto;
                  padding: 0 16px;
              }
    .n-box {
        max-width: 700px;
        background-color: #fff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, .15);
        padding: 20px;
        border-radius: 3px;
        margin: 30px 2.75rem 30px 2.75rem;
    }
    
    .n-box .title {
        background-color: var(--c-blue);
        color: #fff;
        padding: 12px var(--n-box);
        margin: calc(var(--n-box)* -1) calc(var(--n-box)* -1) var(--n-box);
        position: relative;
        border-radius: 3px 3px 0 0;
    }
    
    .n-box .title>a {
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #fff;
        padding: 4px 6px 3px;
        right: 12px;
        font-size: 16px;
        border-radius: 3px;
        font-weight: normal;
    }
    
    .n-box .title>a:hover {
        background: var(--c-green);
    }
    ._border_0 {
        border: none !important;
    }
    
    
    a {
        color: #1a477f;
        align-items: center;
        gap: 6px;
    }
    
    a {
        text-decoration: none;
        transition: .3s;
    }
    
    .n-box table {
        margin-bottom: 0;
        line-height: 1.5;
    }
    table {
        margin: 0 -6px var(--s-space);
        border-collapse: collapse;
    	width: 100%;
    }
    
    .align-middle {
        vertical-align: middle;
    }
    th, td {
        padding: 3px 6px;
    }
    
    ._heading {
        font-weight: 500;
        font-size: 1.125em;
    }
    
    .img-rounded {
        border-radius: 5px;
    }
    img, video {
        max-width: 100%;
        height: auto;
    }
    
    .list-none {
        list-style-type: none;
        padding-left: 0;
    }
    .m-0 {
        margin: 0 !important;
    }
    
    
    
    
    @media (min-width: 768px) {
        :root {
            --n-space: 20px;
            --n-box: 20px;
            --n-gap: 20px;
        }
    }
    :root {
        --n-space: 16px;
        --n-gap: 16px;
        --n-box: 16px;
        --c-blue: #01008d;
        --c-salmon: #f26b55;
        --c-yellow: #ffb600;
        --c-pink: #FF7F7F;
        --c-orange: #ff8a00;
        --c-green: #0B9C23;
    }
        
    .s-box {
        width: 20%;
        background-color: #fff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, .15);
        padding: 20px;
        border-radius: 3px;
        margin: 30px 2.75rem 30px 2.75rem;
    }
    
    .s-box .title {
        background-color: var(--c-yellow);
        color: #fff;
        padding: 12px var(--n-box);
        margin: calc(var(--n-box)* -1) calc(var(--n-box)* -1) var(--n-box);
        position: relative;
        border-radius: 3px 3px 0 0;
    }
.n-section {
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
}

.main-heading {
    font-size: 2em;
    font-weight: bold;
    color: var(--c-blue);
    margin:0;
}

.sub-heading {
    font-size: 1.5em;
    color: var(--c-orange);
    margin-top: 10px;
    text-indent: 0;
}
	    
.n-body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-section {
    display: flex;
    align-items: center;
    padding: 0 50px 50px 50px;
    background-color: #ffffff;
    max-width: 1200px;
    width: 100%;
}

.text-content {
    flex: 1;
    padding-right: 20px;
}

.title {
    font-size: 2em;
    font-weight: bold;
    color: #000000;
    margin: 0;
}

.description {
    font-size: 1em;
    color: #6c757d;
    margin-top: 10px;
}

.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-content img {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
}
	    
table.content-s {
    display: inline-flex;
    align-items: center;
    padding: 20px;
    font-weight: 500;
    justify-content: center;
}
	    
.content-s tbody {
    width: 50%;
}
	    /* Styles for screens 1130px wide or less */
@media (max-width: 1130px) {
    .content {
        display: grid!important;
        justify-content: center;
    }

    p {
        text-indent: 0 !important;
    }

    .info {
        margin-top: 10px;
    }

    x {
        justify-content: center;
        display: flex;
    }
}
	.logo{
    display: flex;
    align-items: center;
    gap: 5px;
	}    
    .nav-menu.active {
        margin-top: 0!important;
    }
		
@media (max-width: 768px) {
    .nav-menu {
        top: 73.2px !important;
    }
}
