* {
    font-family: "Anuphan", serif;
}
body {
    font-family: "Anuphan", serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.login-container, .dashboard-container {
    width: 300px;
    margin: 100px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#login-form input {
    display: block;
    max-width: -webkit-fill-available;
    width: -webkit-fill-available;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#login-form label {
    display: flex;
}

#login-form button {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: -webkit-fill-available;
}

button:hover {
    background-color: #b80000;
}

.menu a {
    display: block;
    margin: 10px 0;
    color: #007bff;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

#error-message {
    color: red;
}

header {
    width: -webkit-fill-available;
    background: #d70000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}

ul.user-info {
    list-style: none;
    padding: 0;
}

#user-container ul {
    list-style: none;
    padding: 0;
    display: grid;
    justify-content: center;
    padding-top: 10px;
    gap: 5px;
}

#user-container ul li a {
    color: #ffb800;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
}

#user-container ul li a:hover {
    color: #007bff;
    transition: .5s;
}
