* {
    font-family: "Anuphan", serif;
}
body {
    font-family: "Anuphan", serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.login-container, .dashboard-container {
    width: 300px;
    margin: 100px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#login-form input {
    display: block;
    max-width: -webkit-fill-available;
    width: -webkit-fill-available;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#login-form label {
    display: flex;
}

#login-form button {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: -webkit-fill-available;
}

button:hover {
    background-color: #b80000;
}

.menu a {
    display: block;
    margin: 10px 0;
    color: #007bff;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

#error-message {
    color: red;
}

header {
    width: -webkit-fill-available;
    background: #d70000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}

ul.user-info {
    list-style: none;
    padding: 0;
}

#user-container ul {
    list-style: none;
    padding: 0;
    display: grid;
    justify-content: center;
    padding-top: 10px;
    gap: 5px;
    text-align: center;
}

#user-container ul li a {
    color: #ffb800;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
}

#user-container ul li a:hover {
    color: #007bff;
    transition: .5s;
}
#user-container{
    box-sizing: border-box;
    padding: 8px 12px 16px;
    position: absolute;
    background: rgb(255, 255, 255);
    right: 5%;
    margin-top: 20px;
    width: 200px;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px #8e8e8e;
    border-radius: 2px;
}

button#start-test {
    width: 125px;
    height: 32px;
    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    user-select: none;
    touch-action: manipulation;
    padding: 0 15px;
    font-size: 16px;
    border-radius: 100px;
    color: #00aaff;
    background-color: #fff;
    border: 2px solid #00aaff;
    margin: 20px 0;
}

button#start-test:hover {
    color: #0069da;
    border: 2px solid #0069da;
}

.testing-container {
    justify-content: center;
    display: flex;
    text-align: center;
}

.ant-modal-body {
    background-color: #fff;
}

.box {
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
    pointer-events: auto;
    padding: 30px;
    text-align: left;
}

button.ant-modal-close {
    position: absolute;
    z-index: 10;
    padding: 0;
    color: rgba(0, 0, 0, .45);
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
    display: flex;
    justify-content: end;
    width: 360px;
}

span.ant-modal-close-x {
    justify-content: end;
    display: flex;
}

p.HomeExamSuggest_text_header__3CK6N {
    color: #05007a;
    font-size: 28px;
    font-weight: 500;
}

p.exam-name {
    color: #05007a;
    font-size: 28px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1em;
}

.row {
    position: relative;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    zoom: 1;
    display: block;
    box-sizing: border-box;
    display: flex;
}
.row:after , .row:before {
    display:table;
    content: "";
}
.col-2 {
    display: block;
    box-sizing: border-box;
    width: auto;
}

.col.col-2 img {
    vertical-align: middle;
    border-style: none;
    width: 70px;
}

.col-o-1 {
    margin-left: 4.16666667%;
}

.col-21 {
    display: block;
    box-sizing: border-box;
    width: auto;
}

p {
    margin: 0;
}

.col-o-3 {
    margin-left: 12.5%;
}

.col-8 {
    width: 33.33333333%;
}

.testing-container > div {
    width: 85%;
}

button.aaa {
    color: #05007a;
    background-color: rgb(255, 255, 255);
    border-color: #f7941d;
    line-height: 1.499;
    text-align: center;
    border: 2px solid #05007a;
    padding: 0 15px;
    font-size: 16px;
    border-radius: 20px;
}
