body {
    font-family: "Anuphan", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(360deg, #ff9f2e, #ff5000);
    margin: 0;
}

[data-login-container] {
    background-color: #ffffff25;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
[data-login-container] h2{
    margin-bottom: 20px;
    color: #333;
}
