/* ตั้งค่าทั่วไป */
body {
    margin: 0;
    padding: 0;
    color: white;
}

/* Header */
header {
    background-color: #F16322;
    padding: 15px 0;
}
.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: 50px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}
.footer-left img {
    height: 40px;
}
.footer-right ul {
    list-style: none;
    padding: 0;
}
.footer-right ul li {
    display: inline;
    margin: 0 15px;
}
.footer-right ul li a {
    color: white;
    text-decoration: none;
}
.copyright {
    margin-top: 10px;
    font-size: 14px;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}
